<div class="home">
	<div class="title">
		<h1>Oh hey there!</h1>
	</div>
	<div id="particles-js"></div>
</div>

<div class="about-me">
	<h2>About Me</h2>
	<p>An enthusiastic and passionate problem solver, I work hard and learn hard. My core driver is the thirst to push forward creative innovation and to make a positive impact on society.</p>

	

</div>